<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>WordQuiz</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/global.css}" href="../static/css/global.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">WordQuiz</a>
        </div>


        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Word Lists</a></li>
            </ul>
        </div>
    </div>

</nav>

<div id= "word-list" class="container" th:if="${quizWords.size() > 0}">
    <center><h2 id="word-list-title">QUIZ</h2></center>

    <form action="/validateQuiz" method="post">
    <table class="table table-hover table-striped">
        <thead>
        <tr class="hdtx">
            <th class="hidden"></th>
            <th>S.NO</th>
            <th>Question</th>
            <th>Answer</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="wordItem,index : ${quizWords}" class="lttx">
            <td class="hidden"><input th:id="|id${index.count}|" th:name="|id${index.count}|" th:value="${wordItem.id}" th:text="${wordItem.id}"/></td>
            <td th:text="${index.count}"></td>
            <td th:text="${wordItem.example}"></td>
            <td><input class="form-control" th:id="|answer${index.count}|" th:name="|answer${index.count}|"/></td>
        </tr>
        </tbody>
    </table>
    <button type="submit" class="btn btn-default">Submit</button>
   </form>
</div>


<footer class="container-fluid text-center">
    <a href="#myPage" title="To Top">
        <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
    <p id="footer-notes">Word Quiz</p>
</footer>

</body>
</html>
